<section id="login-section row">
<div class="col col-md-8 offset-md-2">
	<article id="title" class="row mt-4">
		<div class="col">
			<p class="d-md-none h2 text-center">{{i18n.auth.loginTitle}}</p>
			<p class="d-none d-md-block display-4 text-center">{{i18n.auth.loginTitle}}</p>
		</div>
	</article>

	<form class="mt3" name="loginForm" novalidate ng-submit="login()">	
		<div class="form-row mt-4">
			<div class="col">
				<label for="loginemail">{{i18n.auth.emailLbl}}</label>
				<input id="loginemail" type="email" name="email" autocomplete="username" class="form-control form-control-lg" 
					placeholder="{{i18n.auth.emailHint}}" ng-model="user.email" ng-required="true">
				<div class="text-danger" role="alert" ng-show="loginForm.email.$invalid && loginForm.email.$dirty">
					{{i18n.auth.invalidEmail}}
				</div>
			</div>
		</div>
		<div class="form-row mt-4">
			<div class="col">
				<label for="loginpwd">{{i18n.auth.pwdLbl}}</label>
				<input type="password" name="password" id="loginpwd" placeholder="{{i18n.auth.pwdHint}}" class="form-control form-control-lg" 
					ng-model="user.pwd" ng-required="true" autocomplete="current-password">
				<div class="text-danger" role="alert" ng-show="loginForm.password.$invalid && loginForm.password.$dirty">
					{{i18n.auth.pwdRequired}}
				</div>
			</div>
		</div>
		<div class="row text-right mt-2">
			<div class="col">
				<a href="#!/pwdreset">{{i18n.auth.forgotPwd}}</a>
			</div>
		</div>

		<div class="alert alert-warning" role="alert" ng-show="response.working" >
			{{response.message}}
		</div>
		<div class="alert alert-danger" role="alert" ng-show="response.error" >
			{{response.message}}
		</div>

		<div class="form-row mt-4">
    		<div class="col">
    			<button type="submit" class="btn btn-primary btn-lg btn-block clickable" ng-disabled="loginForm.$invalid">
					{{i18n.auth.loginBtn}}
				</button>
    		</div>
		</div>
	</form>
</div>
</section>
