<div class="modal fade" id="privacyModal" tabindex="-1" role="dialog" aria-labelledby="privacyModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="privacyModalLabel">Privacy Policy</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="font-weight-bold text-uppercase"></p>
        <p>This Privacy Policy establishes the terms in which <span class="font-weight-bold">Memoru</span> uses and protects the information that is provided by its users when using its website. This company is committed to the security of its users' data. When we ask you to fill in the personal information fields with which you can be identified, we ensure that information will only be used in accordance with the terms of this agreement.
        However, this privacy policy may change over time or be updated so we recommend and emphasize continually reviewing this page to control what is in accordance with those changes.</p>

        <p class="font-weight-bold text-uppercase">Collected Information</p>
        <p>Our website may collect personal information such as: Name, contact information such as your email address and demographic information. Likewise, when necessary, specific information may be required to process an order or make a delivery or billing.</p>

        <p class="font-weight-bold text-uppercase">USE OF COLLECTED INFORMATION</p>
        <p>Our website uses the information in order to provide the best possible service, particularly to maintain a user registry, of orders if applicable, and to improve our products and services. E-mails may be sent periodically through our site with special offers, new products and other advertising information that we consider relevant to you or that may provide some benefit, these emails will be sent to the address you provide and may be canceled anytime.</p>
        <!-- <p>All the information you provide for the creation of your <span class="font-weight-bold">Online Resume</span> will be publicly available online, as intended in the nature of an Online Resume.</p> -->

        <p class="font-weight-bold text-uppercase">Cookies</p>
        <p>A cookie refers to a file that is sent for the purpose of requesting permission to be stored on your computer, accepting that file is created and the cookie is then used to have information regarding web traffic, and also facilitates future visits to a web recurrent. Another function that cookies have is that with them the websites can recognize you individually and therefore provide you with the best personalized service on your website.</p>
        <p>Our website uses cookies to identify the pages that are visited and their frequency. This information is used only for statistical analysis and then the information is permanently deleted. You can delete cookies at any time from your computer. However, cookies help to provide a better service for websites, they do not give access to information from your computer or from you, unless you want to and provide it directly. You can accept or deny the use of cookies, however most browsers accept cookies automatically as it serves to have a better web service. You can also change your computer settings to decline cookies. If they decline, you may not be able to use some of our services.</p>

        <p class="font-weight-bold text-uppercase">Thirdparty links</p>
        <p>This website may contain links to other sites that may be of interest to you. Once you click on these links and leave our page, we no longer have control over the site to which you are redirected and therefore we are not responsible for the terms or privacy or the protection of your data on those other third-party sites. These sites are subject to their own privacy policies, so it is recommended that you consult them to confirm that you agree with these.</p>

        <p class="font-weight-bold text-uppercase">Control of your personal information</p>
        <p>At any time you may restrict the collection or use of personal information that is provided to our website. Each time you are asked to fill out a form, such as the user registration, you can check or uncheck the option to receive information by email. In case you have marked the option to receive our newsletter or advertising you can cancel it at any time.</p>
        <p>This company will not sell, assign or distribute personal information that is collected without your consent, unless required by a judge with a court order. </p>
        <p><span class="font-weight-bold">Memoru</span> reserves the right to change the terms of this Privacy Policy at any time.</p>
      </div>
    </div>
  </div>
</div>
