<!-- Section to Create and Search Lists -->
<section class="jumbotron">
  <h1 class="display-4 text-center">{{i18n.lists.addTitle}}</h1>
  <hr class="my-4">
  <form class="" name="addListForm" novalidate ng-submit="addNewList()">
    <div class="form-row">
      <div class="col-10">
        <input type="text" minlength="1" maxlength="25" class="form-control form-control-lg" placeholder="{{i18n.lists.addHint}}" 
            ng-model="newlist.name" ng-required="true" aria-describedby="nameHelp"/>
        <small id="nameHelp" class="form-text text-muted">{{i18n.lists.addDesc}}</small>
      </div>
      <div class="col-2">
        <button type="submit" class="btn btn-primary btn-lg btn-block clickable" ng-disabled="addListForm.$invalid">
            <i class="fas fa-plus"></i>
        </button>
      </div>
    </div>
  </form>
</section>

<div class="alert alert-success alert-dismissible fade show" role="alert" ng-show="response.success">
    <strong>{{response.title}}</strong> {{response.message}}
</div>
<div class="alert alert-danger alert-dismissible fade show" role="alert" ng-show="response.failed">
    <strong>{{response.title}}</strong> {{response.message}}
</div>

<!-- Section to display all the User's Lists -->
<section id="list">
    <ul class="list-group">
        <li class="list-group-item list-group-item-action flex-column align-items-start clickable"
          ng-repeat="list in userlists | filter: {name: newlist.name}">
          <div class="d-flex w-100 justify-content-between">
            <div>
                <span class="badge badge-primary">{{list.counts.open}}</span>
                <span class="ml-2">{{list.name}}</span>
            </div>
            <small  ng-if="!list.locked">
              <button type="button" class="btn btn-sm btn-outline-danger clickable" ng-click="deleteList(list.id)">
                <i class="fas fa-trash-alt"></i>
              </button>
            </small>
          </div>
        </li>
      </ul>
</section>