<section class="jumbotron">
  <h1 class="display-4 text-center">{{i18n.lists.addTitle}}</h1>
  <hr class="my-4">
  <form class="" name="addListForm" novalidate ng-submit="createNewList()">
    <div class="form-row">
      <div class="col-10">
        <input type="text" name="newlist.name" class="form-control form-control-lg"
            placeholder="{{i18n.lists.addHint}}" ng-model="newlist.name"
            minlength="3" maxlength="25"
            ng-required="true" aria-describedby="nameHelp"/>
        <small id="nameHelp" class="form-text text-muted">{{i18n.lists.addDesc}}</small>
      </div>
      <div class="col-2">
        <button type="submit" class="btn btn-primary btn-lg btn-block" ng-disabled="addListForm.$invalid">
            <i class="fas fa-plus"></i>
        </button>
      </div>
    </div>
  </form>
</section>