<!-- Section to Create and Search Lists -->
<section id="search-create" class="jumbotron">
  <p class="d-md-none h4 text-center">{{activeSession.username}} {{i18n.tasks.title}}</p>
  <p class="d-none d-md-block display-4 text-center">{{activeSession.username}} {{i18n.tasks.title}}</p>
  <hr class="my-4">
  <form class="" name="addtaskForm" novalidate ng-submit="addTask()">
    <div class="form-row">
      <div class="col-10">
        <input type="text" minlength="1" class="form-control form-control-lg" placeholder="{{i18n.tasks.addHint}}" 
            ng-model="newtask.name" ng-required="true" aria-describedby="nameHelp"/>
        <small id="nameHelp" class="form-text text-muted">{{i18n.tasks.addDesc}}</small>
      </div>
      <div class="col-2">
        <button type="submit" class="btn btn-primary btn-lg btn-block clickable" ng-disabled="addtaskForm.$invalid"
          data-toggle="tooltip" data-placement="top" title="{{i18n.tasks.addBtnTooltip}}">
            <i class="fas fa-plus"></i>
        </button>
      </div>
    </div>
  </form>
</section>

<section>
  <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-info clickable" ng-class="{active:loadedTasksStatus=='open'}" >
      <input type="radio" name="options" id="option1" ng-click="loadTasksWithStatus('open')"> {{i18n.tasks.openTasks}}
    </label>
    <label class="btn btn-secondary clickable" ng-class="{active:loadedTasksStatus=='closed'}">
      <input type="radio" name="options" id="option2" ng-click="loadTasksWithStatus('closed')"> {{i18n.tasks.closedTasks}}
    </label>
  </div>
</section>

<section id="response-alerts">
  <div class="alert alert-success" role="alert" ng-show="response.success">
      <strong>{{response.title}}</strong> {{response.message}}
  </div>
  <div class="alert alert-danger" role="alert" ng-show="response.failed">
      <strong>{{response.title}}</strong> {{response.message}}
  </div>
</section>

<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>