<section ng-controller="TaskCtrl" class="px-4 py-2">
  <!-- Create and Search Lists -->
  <article id="search-create" class="bg-light row p-4 mb-4" ng-class="{'dark-container':activeSession.preferences.darkMode}">
    <div class="col">
      <p class="d-lg-none h4 text-center">{{activeSession.name}} {{i18n.tasks.title}}</p>
      <p class="d-none d-lg-block display-4 text-center">{{activeSession.name}} {{i18n.tasks.title}}</p>
      <hr class="my-4">
      <form class="" name="addtaskForm" novalidate ng-submit="addTask()">
        <div class="form-row">
          <div class="col-10">
            <input type="text" minlength="1" class="form-control form-control-lg" placeholder="{{i18n.tasks.addHint}}" 
                ng-required="true" ng-model="searchText" aria-describedby="nameHelp"/>
            <!-- <small id="nameHelp" class="form-text text-muted">{{i18n.tasks.addDesc}}</small> -->
          </div>
          <div class="col-2">
            <button type="submit" class="btn btn-primary btn-lg btn-block clickable" ng-disabled="addtaskForm.$invalid"
              data-toggle="tooltip" data-placement="top" title="{{i18n.tasks.addBtnTooltip}}">
                <i class="fas fa-plus"></i>
            </button>
          </div>
        </div>
        <div class="form-row mt-2" ng-if="taskType=='goal'">
          <div class="col"> 
            <input type="number" min="0" class="form-control form-control-lg" ng-required="true" ng-model="goalValues.current">
            <small id="nameHelp" class="form-text text-muted">{{i18n.tasks.goalCurrent}}</small>
          </div>
          <div class="col"> 
            <input type="number" min="{{goalValues.current}}" class="form-control form-control-lg" ng-required="true" ng-model="goalValues.end">
            <small id="nameHelp" class="form-text text-muted">{{i18n.tasks.goalEnd}}</small>
          </div>
        </div>
        <div class="form-row">
          <div class="col pt-2">
            <div class="form-check form-check-inline">
              <input class="" type="radio" name="taskTypeOptions" id="taskType" value="task" ng-model="taskType">
              <label class="" for="taskType">{{i18n.tasks.taskType}}</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="" type="radio" name="taskTypeOptions" id="goalType" value="goal" ng-model="taskType">
              <label class="" for="goalType">{{i18n.tasks.goalType}}</label>
            </div>
          </div>
        </div>
      </form>
    </div>
  </article>

  <article id="response-alerts" class="row">
    <div class="col">
      <div class="alert alert-success" role="alert" ng-show="response.success">
          <strong>{{response.title}}</strong> {{response.message}}
      </div>
      <div class="alert alert-danger" role="alert" ng-show="response.failed">
          <strong>{{response.title}}</strong> {{response.message}}
      </div>
    </div>
  </article>

  <!-- List Selector, Sort , Task Status -->
  <article class="row">
    <div class="col-6 text-left pl-0">
      <!-- List Selector -->
      <div class="btn-group align-baseline">
        <button type="button" class="btn btn-sm btn-info dropdown-toggle" 
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{i18n.lists.listLbl}}: {{activeList.name}}
        </button>
        <div class="dropdown-menu">
          <!-- The active list should not appear in the dropdown,
              because it is already displayed in the main button ng-if="list.id != activeList.id"  -->
          <a class="dropdown-item" ng-click="changeActiveList(list)"
            ng-repeat="list in visibleUserlists | orderBy: 'name'">
            {{list.name}}
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" ng-href="#!/lists">{{i18n.lists.addTitle}}</a>
        </div>
      </div>
      <!-- Tasks Status Buttons -->
      <div class="btn-group btn-group-toggle align-baseline" data-toggle="buttons">
        <label class="btn btn-sm btn-info clickable" ng-class="{active:loadedTasksStatus=='open'}" >
          <input type="radio" name="options" id="option1" ng-click="loadTasksWithStatus('open')"> 
          <span class="d-lg-none ">
            {{i18n.tasks.openLbl}}
          </span>
          <span class="d-none d-lg-block">
            {{i18n.tasks.openTasks}}
          </span>
        </label>
        <label class="btn btn-sm btn-secondary clickable" ng-class="{active:loadedTasksStatus=='closed'}">
          <input type="radio" name="options" id="option2" ng-click="loadTasksWithStatus('closed')"> 
          <span class="d-lg-none ">
            {{i18n.tasks.closedLbl}}
          </span>
          <span class="d-none d-lg-block">
            {{i18n.tasks.closedTasks}}
          </span>
        </label>
      </div>
    </div>
    <!-- Sorting -->
    <div class="col-6 text-right pr-0">
      <div class="btn-group align-baseline">
        <button type="button" class="btn btn-sm btn-info dropdown-toggle" 
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{i18n.sorting.sortLbl}}: {{activeTaskSort.desc}}
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" ng-click="changeSort(sortOption)"
            ng-repeat="sortOption in appConstants.sorting.tasks | orderBy: 'desc'">
            {{sortOption.desc}}
          </a>
        </div>
      </div>
      <div class="btn-group btn-group-toggle align-baseline" data-toggle="buttons">
        <button type="button" class="btn btn-sm btn-secondary clickable" ng-click="reverseSort = !reverseSort">
          <i class="fas fa-sort"></i>
        </button>
      </div>
    </div>
  </article>

  <!-- User's tasks with Accordion (show off) -->
  <article>
    <div class="row" ng-if="!searchText">
      <div class="col">
        <button type="button" class="btn btn-link" ng-if="tasksList.length == 0 || !tasksList">{{i18n.tasks.notasksLbl}}</button>
        <button type="button" class="btn btn-link" ng-if="tasksList.length == 1">{{tasksList.length}} {{i18n.tasks.taskLbl}}</button>
        <button type="button" class="btn btn-link" ng-if="tasksList.length > 1">{{tasksList.length}} {{i18n.tasks.tasksLbl}}</button>
      </div>
    </div>
    <div class="accordion row" id="tasks-accordion">
      <div class="col-lg-6 list-group-item list-group-item-action flex-column align-items-start" 
        ng-class="{'dark-listitem':activeSession.preferences.darkMode}"
        ng-repeat="task in tasksList | filter: {name: searchText} | orderBy: activeTaskSort.field:reverseSort">
  
        <!-- Task summary and actions -->
        <div class="d-flex w-100 justify-content-between clickable" data-toggle="collapse" data-target="#collapse{{task.id}}" aria-expanded="true" aria-controls="collapse{{task.id}}">
          <article id="task-summary">
            <div class="row" id="heading{{task.id}}">
              <a class="ml-2 h5" ng-href="#!/task/{{task.id}}">
                <small>
                  <i class="far fa-comment" ng-show="task.comments > 0"></i>
                </small>
                {{task.name}}
              </a>
            </div>
            <div class="row" ng-show="task.duedate && activeSession.preferences.tasks.showDuedate">
              <small class="ml-2" ng-class="{'text-danger': todayTime > task.duedate.toMillis() }">{{i18n.tasks.dueOn}} {{ task.duedate.toMillis() | date: "MMM dd yyyy" }}</small>
            </div>
          </article>
          <article id="task-actions">
            <small class="mr-1"  ng-if="task.status == 'open'">
              <button type="button" class="btn btn-sm btn-outline-success clickable" title="{{i18n.btns.close}}" ng-click="closeTask(task)">
                <i class="fas fa-check"></i>
              </button>
            </small>
            <small class="mr-1"  ng-if="task.status == 'closed' || task.status == 'archived'">
              <button type="button" class="btn btn-sm btn-outline-primary clickable" title="{{i18n.btns.reopen}}" ng-click="reopenTask(task)">
                <i class="fas fa-undo"></i>
              </button>
            </small>
            <small class="mr-1">
              <button type="button" class="btn btn-sm btn-outline-danger clickable" title="{{i18n.btns.delete}}" ng-click="deleteTask(task)">
                <i class="fas fa-trash-alt"></i>
              </button>
            </small>
          </article>
        </div>
        
        <article id="goal-progress" class="row mt-2" ng-if="task.type=='goal' && activeSession.preferences.goals.showBar">
          <div class="col">
            <div class="progress">
              <div class="text-dark text-center w-100" ng-if="!task.goal.current"> 0 / {{task.goal.end}}</div>
              <div class="progress-bar" role="progressbar" 
              style="width: {{task.goal.current/task.goal.end*100}}%" 
              aria-valuenow="{{task.goal.current/task.goal.end*100}}" aria-valuemin="0" aria-valuemax="100">
                <span ng-if="activeSession.preferences.goals.showProgress && activeSession.preferences.goals.progressOn == 'perc'">
                  {{task.goal.current/task.goal.end*100| number:0}}%
                </span>
                <span ng-if="activeSession.preferences.goals.showProgress && activeSession.preferences.goals.progressOn == 'desc'">
                  {{task.goal.current}} / {{task.goal.end}}
                </span>
              </div>
            </div>
          </div>
        </article>

        <!-- Collapsible part  -->
        <div id="collapse{{task.id}}" class="collapse" aria-labelledby="heading{{task.id}}" data-parent="#tasks-accordion">
          <!-- Goal Increase / Decrease -->
          <div class="row mt-3" ng-if="task.type=='goal'">
            <div class="col-3"><button class="btn btn-primary btn-block clickable" ng-disabled="!task.goalUpdate" ng-click="decreaseGoal(task)"><i class="fas fa-minus"></i></button></div>
            <div class="col">
              <input type="number" min="0" max="{{task.goal.end}}" pattern="^\d*(\.\d{0,2})?$" class="form-control " ng-required="true" ng-model="task.goalUpdate">
              <small id="nameHelp" class="form-text text-muted">{{i18n.tasks.goalUpdate}}</small>
            </div>
            <div class="col-3"><button class="btn btn-primary btn-block clickable" ng-disabled="!task.goalUpdate" ng-click="increaseGoal(task)"><i class="fas fa-plus"></i></button></div>
          </div>
          <!-- Update Name and Desc -->
          <form class="row" name="editTaskForm{{task.id}}" novalidate ng-submit="updateTaskNameAndDesc(task)">
            <!-- Fields -->
            <div class="col-12 col-md-8 mt-4">
              <div class="form-row">
                <div class="col">
                  <input type="text" minlength="1" class="form-control form-control-lg" placeholder="{{i18n.tasks.tasknameHint}}"
                  ng-model="task.name" ng-required="true" aria-describedby="nameHelp"/>
                </div>
              </div>
              <div class="form-row mt-2">
                <div class="col">
                  <textarea name="" class="form-control form-control-lg" ng-model="task.desc" placeholder="{{i18n.tasks.taskdescHint}}">
                  </textarea>
                </div>
              </div>
              <div class="form-row">
                <div class="col alert">
                  <div class=" alert-info">
                    <label class="p-2">{{i18n.tasks.createdOn}} {{task.createdOn.toMillis()| date: "MMM dd yyyy hh:mm"}}</label>
                  </div>
                </div>
              </div>
            </div>
            <!-- Buttons -->
            <div class="col-12 col-md-4 mt-4">
              <div class="form-row">
                <div class="col col-md-12 mt-md-2" ng-if="task.status == 'open'">
                  <button type="button" class="btn btn-warning btn-lg btn-block clickable text-white" title="{{i18n.btns.archive}}" ng-click="archiveTask(task)">
                    <i class="fas fa-archive"></i>
                  </button>
                </div>
                <!-- <div class="col col-md-12 mt-md-2">
                  <button type="button" class="btn btn-primary btn-lg btn-block clickable" title="{{i18n.btns.openBtn}}">
                      <i class="fas fa-arrow-right"></i>
                  </button>
                </div> -->
                <div class="col col-md-12 mt-md-2">
                  <button type="submit" class="btn btn-primary btn-lg btn-block clickable" 
                    ng-disabled="editTaskForm{{task.id}}.$invalid" title="{{i18n.btns.saveBtn}}">
                      <i class="fas fa-save"></i>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
  
      </div>
    </div>
  </article>
</section>

<script>
// $(function () {
//   $('[data-toggle="tooltip"]').tooltip()
// })
</script>